{% extends "auctions/layout.html" %}

{% block body %}
    <h2>{{ listing.name }}</h2>
    <div class="specific-listing-img">
        <img src="{{ listing.imgurl }}">
    </div>
    
    <p>{{ listing.desc }}</p>
    <p>Current bid: ${{ listing.price.price }}</p>
    <h3>Details</h3>
    <ul>
        <li>Listed by: {{ listing.seller }}</li>
        <li>Category: {{ listing.category }}</li>
    </ul>

    {% if inWatchlist %}
        <form action="{% url 'listing' listing.id %}" method="post">
            {% csrf_token %}
            <input type="submit" value="Add to Watchlist">
        </form>
    {% else %}
        <form action="{% url 'listing' listing.id %}" method="post">
            {% csrf_token %}
            <input type="submit" value="Delete from Watchlist">
        </form>
    {% endif %}
    
    
{% endblock %}


