{% extends "network/layout.html" %}

{% block body %}
    {% if user.is_authenticated %}
    <h2>All Posts</h2>
    <div class="new-post">
        <h5>New Post</h5>
        <form action="{% url 'index' %}" method="post">
            {% csrf_token %}
            {{ form }}
            <input type="submit" value="Post">
        </form>
    </div>
    {% endif %}
    {% for post in posts %}
        <div class="post">
            <a href="{% url 'users' post.author.id %}"><h5>{{ post.author }}</h5></a>
            {% if user == post.author %}
                <p>Edit</p>
            {% endif %}
            <p class="post-content">{{ post.content }}</p>
            <p class="post-time">{{ post.timestamp }}</p>
            <p class="post-likes">❤️ {{ post.likes.count }}</p>
        </div>
    {% endfor %}

{% endblock %}