{% extends "network/layout.html" %}
{% load static %}

{% block body %}
    <p>{{ users }}</p>
    <div class="profile-info" id=" {{ userProfile.id }}" style="display: none"></div>
    <div class="user-info" id="{{ user.id }}">
        <h2>{{ userProfile }}</h2>
        <p><strong>Following:</strong> <span class="following-count">{{ userProfile.following.count }}</span> • <strong>Followers:</strong> <span class="follower-count">{{ userProfile.followers.count }}</span></p>
        {% if user != userProfile %}
        <button class="follow"></button>
        {% endif %}
    </div>
    
    {% for post in posts %}
        <div class="post">
            {% if user == post.author %}
            <p>Edit</p>
            {% endif %}
            <p class="post-content">{{ post.content }}</p>
            <p class="post-time">{{ post.timestamp }}</p>
            <p class="post-likes">❤️ {{ post.likes.count }}</p>
        </div>
    {% empty %}
        <div class="nothing">
            <div>Unfortunately, nothing to show here.</div>
        </div>
    {% endfor %}
{% endblock %}

{% block script %}
    <script src="{% static 'network/following.js' %}"></script>
{% endblock %} 